.container {
    text-align: center;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .input, .select {
    width: 80%;
    margin-top: 4px;
    margin-left: 16px;
    font-size: 14px;
    padding: 4px;

    outline: none;

    border-radius: 5px;
    background-color: rgb(210, 210, 210);
    border-color: black;
  }

  .select {
    background-color: red;
  }

  .input {
    border: 1px solid black;
  }
  
  .back, .nextBtn {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 270px;
    left: 55px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
}

  .nextBtn {
    left: 135px;
  }
  
  .message {
    margin-top: 15px;
    font-size: 14px;
    color: green;
  }
  
  .label {
    font-size: 20px;
  }

  .ulSettings {
    margin-top: -10px;
    margin-left: -4px;
}

.liSettings {
    list-style-type: none;
    font-size: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 200px;
    padding-left: 5px;
    margin-left: -23.5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(210, 210, 210);
    cursor: pointer;
    text-align: center;
}

.liSettings:hover {
    color: rgb(136, 145, 158);
}