.container {
    text-align: center;
    padding-top: 50px;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .input, .select {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  .nextBtn {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .back {
    margin-top: 20px;
    cursor: pointer;
  }
  